<md-card class="form-card">
  <md-card-header class="card-header">
    <h5><u>Renseignements concernat le pointage:</u></h5>
  </md-card-header>

  <md-card-content>
    <md-input-container>
      <input mdInput placeholder="Observateur(s) :" >
    </md-input-container>

    <!--<md-input-container>
      <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
    </md-input-container>
    <md-datepicker #picker></md-datepicker>-->
  </md-card-content>
  <md-card-actions>
    <button md-button>Submit</button>
  </md-card-actions>
  
</md-card>