  #map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
  }
#add-marker {
    margin: 10px 0 0 10px;
}

#remove-marker {
    margin: 10px 0 0 55px;
}

.on-map {
    position: absolute;
    z-index: 1000;
}

.example-form {
  width: 500px;
}

.example-full-width {
  width: 100%;
}