/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*deeppurple-amber
indigo-pink
pink-bluegrey
purple-green*/
#map {
    position: absolute;
    top:0;
    bottom:0;
    width:100%;
}
